<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>DP's Django Financial</title>
  </head>
  <body>
    <div class ="jumbotron text-center">
        <h1><b>Welcome to DP's Django Financial</b></h1>
        <button type="button" class="btn btn-dark" onclick="location.href = 'https://i.imgur.com/HikzcqA.jpg';">Enjoy!</button>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>Customers</h3>
                <p>Click below to view your portfolio.</p>
                <button type="button" class="btn btn-primary" onclick="location.href = '/customer/';">View</button>
        </div>
            <div class="col-sm-4">
                <h3>Advisors</h3>
                <p>Click below to enter the Advisor portal</p>
                <button type="button" class="btn btn-primary" onclick="location.href = '/admin/financial/customer/';">Enter</button>
        </div>
            <div class="col-sm-4">
                <h3>Stock Quick View</h3>
                <p>Click below for real time stock prices</p>
                <button type="button" class="btn btn-primary" onclick="location.href = 'https://www.nasdaq.com/markets/';">View Stocks</button>
                <button type="button" class="btn btn-primary" onclick="location.href = 'https://coinmarketcap.com/';">View Crypto</button>
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>